* {
  box-sizing: border-box;
}

body {
  --login-icon-size: 52px;
  --color-feedback-warning: #FFC000;
  --color-feedback-error: #FF000E;
  --color-feedback-disabled: #E6E6E6;
  --color-blue: #005FAA;
  --color-orange: #EF8200;
  --color-dark-gray: #999999;
  --color-body: #FFFFFF;
  --secondary-font-size: 1.3em;

  background-color: #090E1B;
  background-image: url('./assets/egi-datahub-background.png?rev=1');
  background-size: cover;
  color: var(--color-body);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 66px 190px;
  font-size: 17px;
}

@media (max-width: 1366px) {
  body {
    padding: 50px 80px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 40px;
  }
}

@media (max-width: 428px) {
  body {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    /* should keep content above fixed footer */
    padding-bottom: 30px;
    font-size: 16px;
  }
}

body, html {
  position: relative;
  height: 100%;
}

body, input, button {
  font-family: 'DM Sans';
}

button {
  cursor: pointer;
}

.onedata-logo {
  min-height: 24px;
  max-width: 134px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./assets/logo-onedata.svg?rev=1');
}

.egi-datahub-logo {
  min-height: 118px;
  max-width: 482px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./assets/egi-datahub-icon-horizontal-colored.png?rev=1');
  background-color: #090E1B;
  background-position-y: center;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 25vh;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: var(--secondary-font-size);
}

.sign-in-header {
  margin-top: 0;
  margin-bottom: 14px;
}

.sign-in-subheader {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 18px;
}

.login-form-container input {
  font-size: var(--secondary-font-size);
  display: block;
  width: 446px;
  max-width: 100%;
  height: var(--login-icon-size);
  max-height: var(--login-icon-size);
  border-radius: 10px;
  border: 0;
  padding: 0 20px;
}

.login-form-container input.has-error {
  border: 2px solid var(--color-feedback-error);
  border-collapse: collapse;
}

.login-form-container input:disabled {
  background-color: var(--color-feedback-disabled);
}

.login-form-container #password-input {
  margin-top: 10px;
}

.login-form-error-container {
  margin-top: 0.5em;
  color: var(--color-feedback-warning);
}

.login-form-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

button {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  border: 0;
  font-size: var(--secondary-font-size);
  height: var(--login-icon-size);
  padding-left: 22px;
  padding-right: 22px;
}

button.loading .button-spinner {
  display: block;
}

.button-spinner {
  /* hidden by default - use button.loading class to show */
  display: none;
  background-image: url('./assets/spinner.svg?rev=1');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1em;
  margin-left: -0.2em;
  margin-right: 0.6em;
  width: 1em;
}

.back-btn {
  background-color: var(--color-blue);
  padding-left: 18px;
  padding-right: 26px;
}

.back-btn:hover {
  background-color: hsl(206, 100%, 28%);
}

.sign-in-btn {
  background-color: var(--color-orange);
}

.sign-in-btn:hover {
  background-color: hsl(33, 100%, 42%);
}

.login-form-button:disabled {
  background-color: var(--color-dark-gray) !important;
  color: var(--color-feedback-disabled);
  cursor: not-allowed;
}

.login-message-container {
  font-size: 1em;
  font-weight: 400;
  margin-top: auto;
  padding-top: var(--secondary-font-size);
  overflow: auto;
}

.login-notification + .login-notification {
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top: 1px solid var(--color-feedback-disabled);
}

.login-notification-warning {
  color: var(--color-feedback-warning);
}

.egi-datahub-frontpage .login-icon-box {
  position: relative;
  display: block;
  overflow: visible;
  width: var(--login-icon-size);
  height: var(--login-icon-size);
  border-radius: 10px;
  text-align: center;
  text-decoration: none !important;
  user-select: none;
  cursor: pointer;
}

.egi-datahub-frontpage  .auth-icon-image {
  width: 100%;
  height: 100%;
  background-size: var(--login-icon-size) var(--login-icon-size);
  background-repeat: no-repeat;
  background-position: center center;
}

.login-icon-spinner {
  background-image: url('./assets/spinner.svg?rev=1');
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
}

.login-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 1em;
  margin-right: 2em;
  color: var(--color-dark-gray);
}

/* emipirical size of largest footer */
@media (max-width: 480px) {
  .login-footer {
    margin-right: 1em;
    margin-left: 0;
    margin-bottom: 0.5em;
    font-size: 95%;
    min-width: 360px;
  }
}

.footer-link {
  color: var(--color-orange);
}

.footer-separator {
  opacity: 0.6;
}

