apiVersion: v1
kind: Service
metadata:
  labels:
    app: openfaas
    component: gateway
  name: gateway-public
  namespace: {{openfaas_namespace}}
spec:
  ports:
  - name: http
    port: {{openfaas_port}}
    nodePort: {{openfaas_node_port}}
    protocol: TCP
    targetPort: http
  selector:
    app: gateway
  type: NodePort
