# template for OpenFaaS configuration, using values from group_vars/all.yml

functionNamespace: {{ openfaas_function_namespace }}  # Default namespace for functions
createCRDs: {{ first_openfaas_instance_on_this_cluster }}

